<h1></h1> 

<div align="right">
	<a class="btn js-btn" href="./createRecipe">Create New Recipe</a>
</div>
<div class="container">

	<div class="row show-grid" title="ssdsd">

		<div class="span10">

 			Moving Pics
			<img src="http://placehold.it/550x250">

		</div>

		<div class="span6">
			 Users
			<div style="height:246px;border:2px solid black;">
			 Users
			</div>

		</div>

	</div>

<div class="span10">

	<t><h3>   Cookin' Feeds</h3>

</div>

	<div class="row show-grid" >
		 <div class="span10">
			   <div style="width:550px;height:300px;border:2px solid black;">
			    Cooking Feeds
			    </div>
		 </div>

		<div class="span6">
			  <div style="height:300px;border:2px solid black;">
			       <ul class="tabs">
			                   
					 <li class="active"><a href="/getTopRecipes">Top Recipes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
					 
					 
					 <li><a href="/getNewRecipies">New Recipes</a></li>
					 
				</ul>
			   </div>
		</div>


</div>





</div>






</div>

