<h1></h1> 

<div align="right">
	<a class="btn js-btn" href="./createRecipe">Create New Recipe</a>
</div>
<div class="container">

	<div class="row show-grid" title="ssdsd">

		<div class="span10">

			Various Tags
			<img src="http://placehold.it/550x200">

			<div style="width:550px;border:2px solid black;">
				<t><h3>   Search Results </h3>
				<table class="zebra-striped">
					<tr>
					
						<td>
							<b>Column 1</b>
						</td>
						<td>
							<b>Column 2</b>
						</td>
						
					</tr>
					<tr>
						<td>
							Column 1
						</td>
						<td>
							Column 2
						</td>
					</tr>
				</table>
			</div>

		</div>
		<div class="span6">
			Users
		<div style="height:246px;border:2px solid black;">
			Users
		</div>	

		<div style="height:300px;border:2px solid black;">		 
			</ul>
		</div>
		
	  </div>
	   
	  <div class="row show-grid" title="ssdsd">
 
	   
		 <div class="span10">
			   
			    
		 </div>	

		
			
		

	 </div>

	</div>

