<script type="text/javascript">
$(function() {
	$("#metacont").click(function() {
if ($("#recipemeta").is(":visible")) {
		$("#recipemeta").hide("drop",{},"fast",function() {
			$("#ingredcont").show();
		$("#ingredients").show("drop",{},"fast");	
		$("#metacont").text("Back");
	});
	}
	else {
		$("#recipemeta").show("drop",{},"fast",function() {
			$("#metacont").text("Continue");
			$("#ingredcont").hide();
		$("#ingredients").hide("drop",{},"fast");	
	});
	}
		});	


	$("#ingredcont").click(function() {
if ($("#ingredients").is(":visible")) {
		$("#ingredients").hide("drop",{},"fast",function() {
			$("#metacont").hide();
			$("#subbut").show();
		$("#steppy").show("drop",{},"fast");	
		$("#ingredcont").text("Back");
		var ingredhtml = '';
		$('.inline-inputs').each(function(index, el) {
			if ($(el).find('.quantity').val() != '') {
			ingredhtml += '<li><span class="label ingredient">' + $(el).find('.quantity').val() + ' ' + $(el).find('.measurement').val() + ' ' + $(el).find('.ingredientname').val() + '</span></li>';
}

});
		
		$("#stepingredients").html(ingredhtml);
		$( ".ingredient" ).draggable({ helper: "clone" });
	});
	}
	else {
		$("#ingredients").show("drop",{},"fast",function() {
			$("#ingredcont").text("Continue");
			$("#metacont").show();
			$("#subbut").hide();
		$("#steppy").hide("drop",{},"fast");	
	});
	}
		});	

		$(".lastingred input:last").live(
			'focus',function() {
				$(".lastingred").after('<div class="clearfix lastingred"> <div class="input"> <div class="inline-inputs">  <input class="mini quantity" type="number" placeholder="1" name="quantity[]"> <input class="small measurement" type="text" placeholder="cup" name="measurement[]"> <input type="text" placeholder="whole wheat flour" class="ingredientname" name="ingredientname[]"> </div></div> </div>');
          $(this).parent().parent().parent().removeClass("lastingred");
		});
		$(".laststep input").live(
			'focus',function() {
				$(".laststep").after('<tr class="laststep"><td><div class="clearfix stepinput"><div class="input"><input class="xlarge" type="text" name="step[]" placeholder="Combine milk and flour."></div></div></td><td><ul class="unstyled"></ul></td></tr>');
				$(this).parent().parent().parent().parent().removeClass("laststep");
				$( ".stepinput" ).droppable({
			hoverClass: "success",
			drop: function( event, ui ) {
				$(this).parent().parent().find('td:last > ul').append('<li><span class="label success">' + $(ui.draggable).text() + '</span></li>').fadeIn();
			}
		});
		});

		

		$( ".stepinput" ).droppable({
			hoverClass: "success",
			drop: function( event, ui ) {
				$(this).parent().parent().find('td:last > ul').append('<li><span class="label success">' + $(ui.draggable).text() + '</span></li>').hide().fadeIn();
			}
		});

		          
	});
</script>
<div class="page-header">
    <h1>Add Your Recipe</h1>
  </div>
  <div class="span16">
      <form method="POST" action="/recipes">
        <fieldset>
        <div id="recipemeta">
          <legend style="padding-bottom: 20px;">Tell Us About It</legend>
          <div class="clearfix">
            
            <div class="input">
              <input class="xlarge"  name="recipename" size="30" type="text" placeholder="Recipe Name">
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            
            <div class="input">
              <input class="xlarge" name="servings" size="30" type="number" placeholder="# of Servings">
            </div>
          </div><!-- /clearfix -->
                    <div class="clearfix">
            <div class="input">
              <textarea class="xlarge" id="description" name="description" rows="3" placeholder="Description"></textarea>
              <span class="help-block">
                Describe your recipe in a sentence or two.
              </span>
            </div>
          </div><!-- /clearfix -->
          </div>
                 <div id="ingredients" style="display: none;">
          <legend style="padding-bottom: 20px;">What Ingredients Do You Need?</legend>
          <div class="clearfix lastingred">
            <div class="input">
              <div class="inline-inputs">
                <input class="mini quantity" type="number" placeholder="1" name="quantity[]">
                <input class="small measurement" type="text" placeholder="cup" name="measurement[]">
                <input type="text" class="ingredientname" placeholder="whole wheat flour" name="ingredientname[]">
              </div>
            </div>
          </div><!-- /clearfix -->
           
          </div>

             <div id="steppy" style="display: none;">
             <div class="row">
             <div class="span2"><h3>Ingredients</h3>
             <ul class="unstyled" id="stepingredients"></ul></div>
             <div class="span14">
          <legend style="padding-bottom: 20px;">What Are The Steps?</legend>
          <table>
          <tr><th>Steps</th><th>Assigned Ingredients</th></tr>
          <tr class="laststep">
          <td>
              <div class="clearfix stepinput">
              <div class="input">
                <input class="xlarge" type="text" name="step[]" placeholder="Combine milk and flour.">
                </div>
               </div>
            </td>
            <td>
             <ul class="unstyled"></ul></td>
             </tr>
             </table>
             </div>
             </div>
             </div>
        
       <div class="actions">
<button onclick="return false;" class="btn" id="metacont">Continue</button>&nbsp;<button onclick="return false;" class="btn" id="ingredcont" style="display: none;">Continue</button>&nbsp;<input id="subbut" type="submit" style="display: none;" class="btn primary" value="Post Recipe">
          </div>
          </fieldset>
      </form>
    </div>