<!DOCTYPE html>
<html>
<head>
  <title>Gitcookin</title>
  <link rel="stylesheet" href="//twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  <script src="/javascripts/tag-it.js" type="text/javascript" charset="utf-8"></script>
  <script src="/stylesheets/jquery.tagit.css" type="text/javascript" charset="utf-8"></script>
   <script src="/stylesheets/tagit.ui.css" type="text/javascript" charset="utf-8"></script>
 
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>

  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
  <script src="//twitter.github.com/bootstrap/1.4.0/bootstrap-tabs.js" type="text/javascript"></script>

  <script src="//twitter.github.com/bootstrap/1.4.0/bootstrap-dropdown.js" type=
  "text/javascript">

  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
  <script>
  $(function () {
    $('.tabs').tabs()
  })
  
  <!-- The real deal -->
	<script src="js/tag-it.js" type="text/javascript" charset="utf-8"></script>

	<script>
	    $(function(){
            var sampleTags = ['c++', 'java', 'php', 'coldfusion', 'javascript', 'asp', 'ruby', 'python', 'c', 'scala', 'groovy', 'haskell', 'perl', 'erlang', 'apl', 'cobol', 'go', 'lua'];

            //-------------------------------
            // Minimal
            //-------------------------------
            $('#myTags').tagit();
}
  

</script>
  <script type="text/javascript">
$(function () {
    $('.tabs').tabs();
    $('#topbar').dropdown();
  })
  </script>
  <%= csrf_meta_tag %>
  
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
 
<link href="stylesheets/jquery.tagit.css" rel="stylesheet" type="text/css">
</head>

<body style="padding-top: 60px;">
<div class="topbar" data-dropdown="dropdown">
      <div class="topbar-inner">
        <div class="container">
          <h3><a href="#">GIT COOKIN'</a></h3>
          
          <form class="pull-left" action="">
            <input type="text" placeholder="What do you want to cook?">
          </form>
          <ul class="nav secondary-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle">JonMarkGo</a>
              <ul class="dropdown-menu">
                <li><a href="#">Secondary link</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Another link</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div><!-- /topbar-inner -->
    </div>
  <div class="container">
      
    <div class="content">
<%= yield %>
</div>
  </div>
  <div id="fb-root"></div>

  <script src="//connect.facebook.net/en_US/all.js"></script> 
  <script>
          window.fbAsyncInit = function() {
            FB.init({
              appId      : 199803463430362,
              status     : true, 
              cookie     : true,
              xfbml      : true
            });
        };
  </script>
</body>
</html>
